<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.EmpAttendanceMapper">

  <!-- 可根据自己的需求，是否要使用 -->
  <resultMap id="empAttendanceMap" type="com.company.project.entity.EmpAttendanceEntity">
    <result column="attendance_id" property="attendanceId"/>
    <result column="employee_id" property="employeeId"/>
    <result column="date" property="date"/>
    <result column="status" property="status"/>
    <result column="check_in_time" property="checkInTime"/>
    <result column="check_out_time" property="checkOutTime"/>
    <result column="is_deleted" property="isDeleted"/>
    <result column="tenant_id" property="tenantId"/>
    <result column="created_by" property="createdBy"/>
    <result column="created_by_name" property="createdByName"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_by" property="updatedBy"/>
    <result column="updated_by_name" property="updatedByName"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>


</mapper>